@keyframes changing-bg{
  0%{
    background-position: 0% 50%;
    transform: rotate(0deg) scale(1.05);
  }
  25%{
    background-position: 50% 100%;
    transform: rotate(3deg) scale(1.08);
  }
  50%{
    background-position: 100% 50%;
    transform: rotate(0deg) scale(1.05);
  }
  75%{
    background-position: 50% 0%;
    transform: rotate(-3deg) scale(1.08);
  }
  100%{
    background-position: 0% 50%;
    transform: rotate(0deg) scale(1.05);
  }
}