:root{
  --dark-navy-blue: #0c1b2b;
  --dark-purple: #1e0e54;
  --normal-blue: #0a0c7b;
  --normal-purple: #7d00ff;
  --bright-accent-blue: #3f00ff;
  --dark-neutral: #000;
  --less-dark: #1f1f1f;
  --text-color: #f3f3f3;
  --box-shadow: 2px 3px 3px rgba( 0, 0, 0, 0.4);
}

body{
  margin: 0;
  padding: 0;
  overflow: visible;
  font-family: sans-serif, 'Roboto', 'Lato';
  font-size: 15px;
  color: var(--text-color);
  background: var(--dark-neutral);
}

*{
  box-sizing: border-box;
}

a{
  color: var(--text-color);
  text-decoration: none;
}

li{
  list-style: none;
}

section{
  margin: 0 0 10px;
  padding: 30px 0;
}

.hero{
  padding: 0 40px;
  position: relative;
  background: url(images/images.png) no-repeat center center/cover;
  height: 95vh;
}

.logo img{
  width: 70px;
  padding-left: 30px;
}

.hero-grid img{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
}

header, .c-ribbon{
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
}

header{
  top: 0;
  left: 0;
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(to right, var(--less-dark), var(--text-color), var(--less-dark));
  border-image-slice: 1;
}

.c-ribbon{
  bottom: 0;
  left: 0;
  z-index: 3;
}

.navigation{
  margin: 0;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding-right: 30px;
}

nav a{
  font-size: 14px;
  transition: 0.4s ease-in-out;
  padding: 10px 12px;
}

nav a:hover{
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to right, var(--normal-purple), var(--bright-accent-blue), var(--normal-purple));
  border-image-slice: 1;
}

.hero-grid{
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
  height: 100%;
  padding: 0 30px;
}

.ham{
  display: none;
  flex-direction: column;
  gap: 8px;
  padding: 10px;
  background: linear-gradient(to bottom right, var(--dark-purple), var(--bright-accent-blue));
  border-radius: 10px;
}

.bar{
  width: 40px;
  height: 4px;
  background: var(--text-color);
  border-radius: 10px;
}

.profile, .hero-text{
  padding: 40px 0 10px;
}

.profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1;
  width: 60%;
} 

.profile h1{
  font-size: 90px;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
  transform: scaleY(1.1);
}

.profile h2{
  font-size: 50px;
  font-weight: 600;
  margin: 0;
  padding-top: 40px;
}

.profile h3, .heading{
  font-size: 24px;
  font-weight: 350;
  margin: 10px 0 20px;
  line-height: 1.2;
  border: 2px solid var(--text-color);
  padding: 14px;
  width: fit-content;
  border-radius: 20px;
}

.profile p{
  font-size: 1.2rem;
  margin: 8px 0;
  line-height: 1.2;
}

.hero-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 45%;
}

.hero-text h1{
  font-size: 40px;
  padding-left: 50px;
  margin: 10px 0;
  line-height: 1.2;
  text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.3);
}

.hero-text p{
  font-size: 16px;
  padding-left: 50px;
  margin: 10px 0;
  padding-left: 15px;
  line-height: 1.5;
} 

.cta{
  margin: 18px 0;
  display: flex;
  gap: 10px;
}

.cta-btn, .cta-btn2, .c-btn{
  padding: 14px 18px;
  border-radius: 5px;
  background: linear-gradient(to bottom right, var(--dark-purple), var(--bright-accent-blue));
  box-shadow: var(--box-shadow);
  font-weight: 420;
  font-size: 1.15rem;
  transition: 0.5s ease-in-out ;
}

.cta-btn{
  background-size: 200% 200%;
  overflow: hidden;
}

.cta-btn:hover, .c-btn:hover, .cta-btn2:hover, .heading{
  animation: changing-bg 1.4s ease-in-out infinite;
  transform: scale(1.05);
  background-position: 100% 50%;
}

.cta-btn2{
  background: none;
  border: 2px solid var(--text-color);
}

.c-ribbon img{
  width: 30px;
  transition: 0.4s ease-in-out;
}

.pn, .socials{
  display: flex;
  gap: 20px;
  padding: 0 30px;
  align-items: center;
  font-size: 16px;
}

.c-ribbon img:hover{
  transform: scale(1.3);
}

.container{
  width: 90%;
  margin: auto;
  padding: 20px 30px;
  background: linear-gradient(to bottom right, var(--dark-navy-blue), var(--normal-blue), var(--dark-purple), var(--dark-neutral));
  border-radius: 20px;
}

.about p, .services p, .projects p, .testimonials p{
  font-size: 1.1rem;
  line-height: 1.6;
}

.separator{
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
}

.w-thin-line{
  width: 80%;
  height: 2px;
  background: var(--text-color);
  border-radius: 5px;
}

.abt-flex{
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
}

.focus{
  width: 60%;
}

.focus h1{
  font-size: 28px;
  font-weight: 500;
  margin: 0;
  padding: 10px 0;
  transform: scaleY(1.1);
}

.focus-flex{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.focus-item{
  background: rgba( 0, 0, 0, 0.4);
  padding: 10px;
  border-radius: 10px;
}

.focus-item img{
  width: 40px;
}

.focus-item h3{
  margin: 8px 0 5px;
  font-weight: 550;
  font-style: italic;
  font-size: 22px;
}

.focus-item p{
  font-size: 16px;
  line-height: 1.4;
}

.webstr-profile{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.webstr{
  background: linear-gradient(to bottom,rgba(0,0,0,0), rgba( 0, 0, 0, 0.3), rgba( 0, 0, 0, 0.5));
  border-bottom: 4px solid transparent;
  border-image: linear-gradient(to right, var(--normal-purple), var(--bright-accent-blue), var(--normal-purple));
  border-image-slice: 1;
  border-radius: 10px;
  margin-top: -20px;
}

.webstr img{
  width: 100%;
}

.webstr-text{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  width: 100%;
}

.webstr-profile h3{
  margin: 0;
  font-size: 24px;
  font-weight: 520;
  border: 2px solid var(--text-color);
  padding: 10px;
  border-radius: 20px;
  width: fit-content;
}

.webstr-profile p{
  margin: 0;
  font-size: 0.9rem;
  line-height: 1.5;
}

.achievements{
  margin: -16px 0 0;
  padding: 10px 0;
  display: flex;
  gap: 12px;
}

.achievement-item{
  background: rgba( 0, 0, 0, 0.4);
  padding: 10px;
  border-radius: 10px;
  width: fit-content;
  text-align: center;
  border-bottom: 3px solid transparent;
  border-image: linear-gradient(to right, var(--normal-purple), var(--bright-accent-blue), var(--normal-purple));
  border-image-slice: 1;
}

.achievement-item h2{
  font-size: 22px;
  font-weight: 530;
  margin: 8px 0;
  font-style: italic;
  transform: scaleY(1.05);
}

.services-grid{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 30px;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

.services-grid .fourth{
  grid-column: 2/4;
}

.services-grid .fifth{
  grid-column: 4/6;
}

.service-item{
  grid-column: span 2;
  position: relative;
  background: rgba( 0, 0, 0, 0.4);
  overflow: hidden;
  border-radius: 10px;
  text-align: center;
  z-index: 1;
  transition: 0.4s ease-in-out;
}

.service-item:hover{
  border-bottom: 4px solid transparent;
  border-image: linear-gradient(30deg, var(--normal-purple), var(--bright-accent-blue), var(--normal-purple));
  border-image-slice: 1;
  border-radius: 10px;
}

.service-item img{
  width: 100%;
  height: 220px;
  z-index: 0;
  object-fit: cover;
  transition: 0.4s ease-in-out;
}

.service-item img:hover{
  transform: scale(1.1);
  overflow: hidden;
}

.service-item h3{
  margin: 10px 0 10px;
  font-weight: 550;
  font-style: italic;
  font-size: 22px;
  position: relative;
  z-index: 2;
}

.service-item p{
  font-size: 15px;
  line-height: 1.4;
  position: relative;
  z-index: 2;
  width: 90%;
  margin: 20px auto;
}

.s-btn{
  display: block;
  margin: 30px auto 0;
  text-align: center;
  font-size: 1.1rem;
  padding: 12px 16px;
  width: 200px;
}

.project-grid{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.project-item{
  grid-column: span 2;
  position: relative;
  background: rgba( 0, 0, 0, 0.4);
  overflow: hidden;
  border-radius: 10px;
  text-align: center;
  z-index: 1;
  transition: 0.4s ease-in-out;
  padding: 10px;
}

.project-item:hover{
  border-bottom: 4px solid transparent;
  border-image: linear-gradient(30deg, var(--normal-purple), var(--bright-accent-blue), var(--normal-purple));
  border-image-slice: 1;
  border-radius: 10px;
}

.project-item h3{
  margin: 10px 0 10px;
  font-weight: 550;
  font-style: italic;
  font-size: 22px;
}

.project-item p{
  font-size: 0.85rem;
  line-height: 1.4;
  width: 90%;
  margin: 10px auto 20px;
}

.project-item .cta-btn{
  display: flex;
  gap: 14px;
  align-items: center;
  width: fit-content;
  margin: auto;
}

.project-item img{
  width: 100%;
  transition: 0.4s ease-in-out;
  object-fit: fill;
}

.project-item img:hover{
  transform: scale(1.1);
  overflow: hidden;
}

.cta-btn img{
  width: 20px;
}

.testimony-flex{
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.testimony-card{
  background: rgba( 0, 0, 0, 0.5);
  padding: 12px 30px;
  display: flex;
  justify-content: center;
  gap: 35px;
  align-items: center;
  width: 80%;
  margin: auto;
  border-radius: 10px;
}

.testimony-text{
  width: 80%;
  font-size: 0.9rem;
  line-height: 1.4;
  font-style: italic;
}

.testimony-card img{
  width: 85px;
  border-radius: 10px;
  border: 2px solid var(--text-color);
}

.testimony-text img{
  transform: scaleX(-1);
  width: 120px;
  border: none;
  display: flex;
  margin: 0 50px;
  justify-self: right;
}

.testimony-text .w-thin-line{
  margin: 10px auto;
  width: 95%;
  height: 1.5px;
}

.side-text{
  font-size: 1.2rem;
  line-height: 1.4;
  text-align: right;
  margin-right: 50px;
}

.contact{
  height: 60vh;
  background: linear-gradient(45deg, var(--dark-purple), var(--dark-neutral));
}

.contact-flex{
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

.contact-text{
  position: relative;
  background: url(images/woman-with-laptop.avif) no-repeat center center/cover;
  padding: 30px;
  border-radius: 20px;
  width: 60%;

}

.dk{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba( 0, 0, 0, 0.5);
  z-index: 1;
}

.contact-text h4, .contact-text p{
  z-index: 3;
  position: relative;
}

.contact-text p{
  font-size: 1.1rem;
  line-height: 1.6;
}

.contact-form{
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form input, form textarea{
  padding: 12px;
  border-radius: 8px;
  border: 2px solid transparent;
  border-image: linear-gradient(to right, var(--normal-purple), var(--bright-accent-blue), var(--normal-purple));
  border-image-slice: 1;
  font-size: 1rem;
  font-family: 'Lato', 'Roboto', sans-serif;
  background: rgba( 255, 255, 255, 0.1);
  color: var(--text-color);
  box-shadow: var(--box-shadow);
}

.contact-form button{
  border: none;
  padding: 14px 18px;
  border-radius: 5px;
  background: linear-gradient(to bottom right, var(--dark-purple), var(--bright-accent-blue));
  box-shadow: var(--box-shadow);
  font-weight: 420;
  font-size: 1.15rem;
  cursor: pointer;
  color: var(--text-color);
}

footer{
  padding: 20px 0;
  background: linear-gradient(to bottom right, var(--dark-neutral), var(--dark-navy-blue), var(--dark-purple));
  font-size: 0.9rem;
  position: relative;
}

.footer-flex{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 22px;
  width: 90%;
  margin:  0 auto 20px;
}

footer .heading{
  width: 100%;
  border: none;
  border-radius: 0;
  background: linear-gradient(to right, rgba(0,0,0,0), var(--normal-blue), var(--dark-purple));
  animation: none;
}

.closing-remark{
  width: 42%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.first-child{
  display: flex;
  gap: 15px;
  align-items: center;
}

.first-child h4{
  font-size: 20px;
  font-weight: 500;
  transform: scaleY(1.1);
  background: linear-gradient(to right, rgba(0,0,0,0), var(--normal-blue), var(--dark-purple));
  padding: 20px 30px;
  margin: 0;
}

.closing-remark p{
  line-height: 1.3;
  padding: 14px;
  border: 2px solid var(--text-color);
  border-radius: 12px;
}

.social-flex div{
  display: flex;
  gap: 10px;
  font-size: 1.1rem;
  align-items: center;
  justify-content: flex-start;
  margin: 10px 0;
  transition: 0.4s ease-in-out;
  background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.4));
  padding: 10px 0;
}

.navigate{
  width: 25%;
}

.navigate ul{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  font-size: 1.2rem;
  padding: 10px;
}

.navigate li{
  padding: 15px 0;
  width: 100%;
  transition: 0.4s ease-in-out;
  background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.4));
}

.navigate li:hover, .social-flex div:hover{
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to bottom right, var(--normal-blue), var(--normal-purple));
  border-image-slice: 1;
}

.closing-remark img{
  width: 70px;
}

.social-flex img{
  width: 30px;
}

.tools img{
  width: 50px;
}

.tools{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
  gap: 14px;
}

.footer-strip{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  width:100%;
  background: rgba( 0, 0, 0, 0.4);
  position: absolute;
  bottom: 0;
  padding: 15px 0;
  font-size: 1.1rem;
}

@media (max-width: 450px){
  .container{
    width: 95%;
    padding: 15px 10px;
  }

  .hero{
    height: fit-content;
    padding: 0 15px;
  }

  .hero-grid{
    justify-content: center;
    flex-direction: column;
    padding: 20px 10px 0;
  }

  .profile h1{
    font-size: 50px;
    line-height: 1.1;
  }

  .profile h2{
    font-size: 28px;
    padding-top: 20px;
  }

  .profile h3{
    font-size: 18px;
    padding: auto;
    width: 95%;
    margin:5px auto;
    text-align: center;
  }

  .profile{
    margin: 0;
    padding: 10px 0 0;
    width: 90%;
    text-align: center;
    align-items: center;
  }

  .cta{
    flex-direction: column;
    gap: 14px;
    align-items: center;
    margin: 10px 0 0;
  }

  .hero-text{
    width: 100%;
    height: fit-content;
    text-align: center;
    padding: 0;
    margin: 0;
  }

  .hero-text h1{
    font-size: 28px;
    padding-left: 0;
  }

  .hero-text p{
    font-size: 14px;
    padding-left: 0;
    padding-left: 15px;
  }

  .navigation, .profile p{
   display: none;
  }

  .ham{
    display: flex;
  }

  .logo img{
    width: 75px;
    padding: 10px;
    background: linear-gradient(to bottom right, var(--dark-purple), var(--bright-accent-blue));
    border-radius: 10px;
  }

  header{
    position: sticky;
    background: none;
    border: none;
    padding: 20px 0;
  }

  header, .c-ribbon{
    padding: 10px 0;
  }

  .socials{
    gap: 10px;
    margin: 0;
  }

  .pn, .socials{
    padding: 0 10px;
  }

  .abt-flex{
    flex-direction: column-reverse;
    gap: 20px;
  }

  .webstr-profile, .focus{
    width: 100%;
  }

  .services-grid, .project-grid{
    display: flex;
    flex-direction: column;
  }

  .testimonials .container{
    width: 98%;
  }

  .testimony-card{
    width: 100%;
    padding: 8px 10px;
    gap: 18px;
    margin: 0;
  }

  .project-item p, .testimony-card p{
    font-size: 14px;
    line-height: 1.2;
  }

  .w-thin-line{
    width: 50%;
  }

  .testimony-flex{
    width: 100%;
    padding: 0;
    justify-content: center;
    align-items: center;
  }

  .contact{
    height: fit-content;
  }

  .contact-flex{
    flex-direction: column;
  }

  .contact-flex, .contact-form, .contact-text{
    padding: 10px;
    width: 95%;
    margin: auto;
  }

  .closing-remark p{
    font-size: 0.9rem;
    text-align: center;
  }

  .footer-flex{
    flex-direction: column;
  }

  .closing-remark, .ttools{
    width: 95%;
  }

  .tools{
    grid-template-columns: repeat(5, 1fr);
  }

  .navigate{
    display: none;
  }
}